.height{
    max-height: 1200px;
}

.top-position{
    top: -30%;
    right: -30%;
    height: 800px;
    z-index: -1;
    opacity: 0.8;
    filter: drop-shadow( -77px -34px 116px #3F81FE) blur(25px);
}


.bottom-position{
    bottom: -30%;
    left: -20%;
    height: 700px;
    z-index: -1;
    opacity: 0.8;
    filter: drop-shadow( 77px -34px 116px #3F81FE) blur(25px); /* outer cyan */
}